.hero{
height:400px;
background-image:url("./assets/images/hero.jpg");
background-size:cover;
background-position:center;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
color:white;
text-align:center;
}

.hero h1{
font-size:40px;
}

.hero p{
font-size:18px;
}